extends partial/layout

block title
  | #{name} - #{_config_('title')}

block content
  div#app

  script
    | var data={"title":"#{_config_('title')}","page":"auth","name":"#{name}"}

  include script
