extends partial/layout

block title
  | #{_config_('title')}

block content
  div#app

  script
    | var data=
    - json.page='custom'
    - json.title=_config_('title')
    - json.body=body
    !=JSON.stringify(json)

  include script
