extends partial/layout

block title
  | #{data.name} - #{_config_('title')}

block content
  div#app

  script
    | var data=
    - if(data.name){json.subtitle=data.name}
    - json.page='detail'
    - json.title=_config_('title')
    - json.type=data.type
    - json.ext=data.ext
    - if(['txt','md'].includes(data.ext)){
    -   json.body = data.body
    - }
    - var ext = extname(data.name)
    - if (['m3u8'].includes(ext)){
    -   data.type = 'video'
    - }
    - json.url=url ? url : data.url
    !=JSON.stringify(json)

  include script
