script(src='https://cdn.jsdelivr.net/npm/hls.js@latest')
script(src='https://cdn.jsdelivr.net/gh/kn007/DPlayer-Lite/dist/DPlayer.min.js')
script(src='https://cdn.jsdelivr.net/gh/liumingye/cdn/js/chunk-vendors.ffc17ee0.js')
script(src='https://cdn.jsdelivr.net/gh/liumingye/cdn/js/app.f152383b.js')