script(src='https://cdn.polyfill.io/v2/polyfill.js')
script(src='https://cdn.jsdelivr.net/npm/hls.js@latest')
script(src='https://cdn.jsdelivr.net/gh/kn007/DPlayer-Lite/dist/DPlayer.min.js')
script(src=cdn + 'js/chunk-vendors.38e28243.js')
script(src=cdn + 'js/app.42a1d372.js')
script(src='https://cdn.bootcss.com/smoothscroll/1.4.10/SmoothScroll.min.js')