script(src='https://cdn.jsdelivr.net/npm/hls.js@latest')
script(src='https://cdn.jsdelivr.net/gh/kn007/DPlayer-Lite/dist/DPlayer.min.js')
script(src='https://cdn.jsdelivr.net/gh/liumingye/cdn/js/chunk-vendors.ba590e6f.js')
script(src='https://cdn.jsdelivr.net/gh/liumingye/cdn/js/app.38eb412d.js')
script(src='https://cdn.bootcss.com/smoothscroll/1.4.10/SmoothScroll.min.js')