script(src='https://cdn.jsdelivr.net/npm/hls.js@latest')
script(src='https://cdn.jsdelivr.net/gh/kn007/DPlayer-Lite/dist/DPlayer.min.js')
script(src='https://cdn.jsdelivr.net/gh/liumingye/cdn/js/chunk-vendors.4a52789b.js')
script(src='https://cdn.jsdelivr.net/gh/liumingye/cdn/js/app.71301f7e.js')