script(src='https://cdn.jsdelivr.net/npm/hls.js@latest')
script(src='https://cdn.jsdelivr.net/gh/kn007/DPlayer-Lite/dist/DPlayer.min.js')
script(src='/js/runtime.a32b1904.js')
script(src='/js/chunk-vendors.ffc17ee0.js')
script(src='/js/app.fde8bd07.js')
